/* * {
    box-sizing: border-box;
    margin:0;
    padding:0;
} */

body {
    display:flex;
    justify-content: center;
}

#board {
    display: grid;
    background-color: blueviolet;
    width: 500px;
    height:500px;
    margin:80px;
    padding:40px;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

h1 span {
color:whitesmoke;
}

.cell {
    display:grid;
    height:115px;
    width:115px;
    background-color: violet;
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px
}

.cell:hover {
    background-color: chartreuse;
}

.buttons {
    display:flex;
    border:black 1px;
}

.rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

button {
     height:50px;
     width:80px;
     margin: 20px 20px;
     cursor: pointer;
     background-color: rgb(164, 107, 218);
}

.buttons :hover {
background-color: chartreuse;
}